.global-home-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.global-home-grid-column {
  background-clip: padding-box;
}

.global-home-grid-column > div {
  height: 390px;
}
.global-home-grid-column > div > a > div > div{
  height: 390px;
}
