.global-team-grid {
  z-index: -1;
  display: flex;
  width: auto;
}

.global-team-grid-column {
  background-clip: padding-box;
}

.global-team-grid-column > div {
  /*margin-bottom: 20px;*/
}

.global-team-grid > div:nth-child(2) {
  /*margin-left: 20px;*/
}

.global-team-grid > div:nth-child(3) {
  /*margin-left: 20px;*/
}

.global-team-grid-column > div > .global-team-right > div {
  min-height: 300px;
}
.global-team-grid-column > div > .global-team-left > div {
  min-height: 300px;
}
.global-team-grid-column > div > .global-team-half > div {
  min-height: 350px;
}
.global-team-grid-column > .global-team-full > a > div {
  min-height: 350px;
}
.global-team-grid-column > div > .global-team-mirror > div {
  min-height: 330px;
}
.global-team-grid-column > div > .global-team-quote > div {
  min-height: 320px;
}
