.global-clients-grid {
  z-index: -1;
  display: flex;
  width: auto;
}

.global-clients-grid-column {
  background-clip: padding-box;
}

.global-clients-grid-column > div {
  /*margin-bottom: 20px;*/
}

.global-clients-grid > div:nth-child(2) {
  /*margin-left: 20px;*/
}

.global-clients-grid > div:nth-child(3) {
  /*margin-left: 20px;*/
}

.global-clients-grid-column > div > .global-clients-right > div {
  min-height: 300px;
}
.global-clients-grid-column > div > .global-clients-left > div {
  min-height: 300px;
}
.global-clients-grid-column > div > .global-clients-half > div {
  min-height: 350px;
}
.global-clients-grid-column > .global-clients-full > a > div {
  min-height: 350px;
}
.global-clients-grid-column > div > .global-clients-mirror > div {
  min-height: 330px;
}
.global-clients-grid-column > div > .global-clients-quote > div {
  min-height: 320px;
}
