/*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/
#BOX1 {
    transform: ;
    animation: BOX1__x__1 1000ms 0ms ease-in-out forwards, BOX1__x__2 1000ms 1000ms ease-in-out forwards, BOX1__x__3 1000ms 2000ms ease-in-out forwards, BOX1__x__4 1000ms 3000ms ease-in-out forwards, BOX1__x__5 1000ms 4000ms ease-in-out forwards, BOX1__x__6 1000ms 5000ms ease-in-out forwards, BOX1__x__7 1000ms 6000ms ease-in-out forwards, BOX1__x__8 1000ms 7000ms ease-in-out forwards, BOX1__x__9 1000ms 8000ms ease-in-out forwards, BOX1__x__10 1000ms 9000ms ease-in-out forwards, BOX1__y__1 1000ms 0ms ease-in-out forwards, BOX1__y__2 1000ms 1000ms ease-in-out forwards, BOX1__y__3 1000ms 2000ms ease-in-out forwards, BOX1__y__4 1000ms 3000ms ease-in-out forwards, BOX1__y__5 1000ms 4000ms ease-in-out forwards, BOX1__y__6 1000ms 5000ms ease-in-out forwards, BOX1__y__7 1000ms 6000ms ease-in-out forwards, BOX1__y__8 1000ms 7000ms ease-in-out forwards, BOX1__y__9 1000ms 8000ms ease-in-out forwards, BOX1__y__10 1000ms 9000ms ease-in-out forwards, BOX1__width__1 1000ms 0ms ease-in-out forwards, BOX1__width__2 1000ms 1000ms ease-in-out forwards, BOX1__width__3 1000ms 2000ms ease-in-out forwards, BOX1__width__4 1000ms 3000ms ease-in-out forwards, BOX1__width__5 1000ms 4000ms ease-in-out forwards, BOX1__width__6 1000ms 5000ms ease-in-out forwards, BOX1__width__7 1000ms 6000ms ease-in-out forwards, BOX1__width__8 1000ms 7000ms ease-in-out forwards, BOX1__width__9 1000ms 8000ms ease-in-out forwards, BOX1__width__10 1000ms 9000ms ease-in-out forwards, BOX1__height__1 1000ms 0ms ease-in-out forwards, BOX1__height__2 1000ms 1000ms ease-in-out forwards, BOX1__height__3 1000ms 2000ms ease-in-out forwards, BOX1__height__4 1000ms 3000ms ease-in-out forwards, BOX1__height__5 1000ms 4000ms ease-in-out forwards, BOX1__height__6 1000ms 5000ms ease-in-out forwards, BOX1__height__7 1000ms 6000ms ease-in-out forwards, BOX1__height__8 1000ms 7000ms ease-in-out forwards, BOX1__height__9 1000ms 8000ms ease-in-out forwards, BOX1__height__10 1000ms 9000ms ease-in-out forwards, BOX1__fillColor__1 1ms 0ms linear forwards, BOX1__fillColor__2 999ms 1ms ease-in-out forwards, BOX1__fillColor__3 1000ms 1000ms ease-in-out forwards, BOX1__fillColor__4 1000ms 2000ms ease-in-out forwards, BOX1__fillColor__5 1000ms 3000ms ease-in-out forwards, BOX1__fillColor__6 1000ms 4000ms ease-in-out forwards, BOX1__fillColor__7 1000ms 5000ms ease-in-out forwards, BOX1__fillColor__8 1000ms 6000ms ease-in-out forwards, BOX1__fillColor__9 1000ms 7000ms ease-in-out forwards, BOX1__fillColor__10 1000ms 8000ms ease-in-out forwards, BOX1__fillColor__11 1000ms 9000ms ease-in-out forwards;
}

@keyframes BOX1__x__1 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__2 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__3 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__4 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__5 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__6 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__7 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__8 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__9 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__x__10 {
    from {
        left: 0px;
    }

    to {
        left: 0px;
    }
}
@keyframes BOX1__y__1 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX1__y__2 {
    from {
        top: 0px;
    }

    to {
        top: 410px;
    }
}
@keyframes BOX1__y__3 {
    from {
        top: 410px;
    }

    to {
        top: 410px;
    }
}
@keyframes BOX1__y__4 {
    from {
        top: 410px;
    }

    to {
        top: 310px;
    }
}
@keyframes BOX1__y__5 {
    from {
        top: 310px;
    }

    to {
        top: 310px;
    }
}
@keyframes BOX1__y__6 {
    from {
        top: 310px;
    }

    to {
        top: 320px;
    }
}
@keyframes BOX1__y__7 {
    from {
        top: 320px;
    }

    to {
        top: 320px;
    }
}
@keyframes BOX1__y__8 {
    from {
        top: 320px;
    }

    to {
        top: 330px;
    }
}
@keyframes BOX1__y__9 {
    from {
        top: 330px;
    }

    to {
        top: 330px;
    }
}
@keyframes BOX1__y__10 {
    from {
        top: 330px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX1__width__1 {
    from {
        width: 530px;
    }

    to {
        width: 530px;
    }
}
@keyframes BOX1__width__2 {
    from {
        width: 530px;
    }

    to {
        width: 300px;
    }
}
@keyframes BOX1__width__3 {
    from {
        width: 300px;
    }

    to {
        width: 300px;
    }
}
@keyframes BOX1__width__4 {
    from {
        width: 300px;
    }

    to {
        width: 320px;
    }
}
@keyframes BOX1__width__5 {
    from {
        width: 320px;
    }

    to {
        width: 320px;
    }
}
@keyframes BOX1__width__6 {
    from {
        width: 320px;
    }

    to {
        width: 310px;
    }
}
@keyframes BOX1__width__7 {
    from {
        width: 310px;
    }

    to {
        width: 310px;
    }
}
@keyframes BOX1__width__8 {
    from {
        width: 310px;
    }

    to {
        width: 310px;
    }
}
@keyframes BOX1__width__9 {
    from {
        width: 310px;
    }

    to {
        width: 310px;
    }
}
@keyframes BOX1__width__10 {
    from {
        width: 310px;
    }

    to {
        width: 530px;
    }
}
@keyframes BOX1__height__1 {
    from {
        height: 550px;
    }

    to {
        height: 550px;
    }
}
@keyframes BOX1__height__2 {
    from {
        height: 550px;
    }

    to {
        height: 310px;
    }
}
@keyframes BOX1__height__3 {
    from {
        height: 310px;
    }

    to {
        height: 310px;
    }
}
@keyframes BOX1__height__4 {
    from {
        height: 310px;
    }

    to {
        height: 410px;
    }
}
@keyframes BOX1__height__5 {
    from {
        height: 410px;
    }

    to {
        height: 410px;
    }
}
@keyframes BOX1__height__6 {
    from {
        height: 410px;
    }

    to {
        height: 400px;
    }
}
@keyframes BOX1__height__7 {
    from {
        height: 400px;
    }

    to {
        height: 400px;
    }
}
@keyframes BOX1__height__8 {
    from {
        height: 400px;
    }

    to {
        height: 390px;
    }
}
@keyframes BOX1__height__9 {
    from {
        height: 390px;
    }

    to {
        height: 390px;
    }
}
@keyframes BOX1__height__10 {
    from {
        height: 390px;
    }

    to {
        height: 550px;
    }
}
@keyframes BOX1__fillColor__1 {
    from {
        background-color: rgba(255,204.00000303983688,0,1);
    }

    to {
        background-color: rgba(255,204.00000303983688,0,1);
    }
}
@keyframes BOX1__fillColor__2 {
    from {
        background-color: rgba(255,204.00000303983688,0,1);
    }

    to {
        background-color: rgba(255,204,0,1);
    }
}
@keyframes BOX1__fillColor__3 {
    from {
        background-color: rgba(255,204,0,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__4 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__5 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__6 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__7 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__8 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__9 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__10 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX1__fillColor__11 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,204,0,1);
    }
}

#BOX4 {
    transform: ;
    animation: BOX4__x__1 1000ms 0ms ease-in-out forwards, BOX4__x__2 1000ms 1000ms ease-in-out forwards, BOX4__x__3 1000ms 2000ms ease-in-out forwards, BOX4__x__4 1000ms 3000ms ease-in-out forwards, BOX4__x__5 1000ms 4000ms ease-in-out forwards, BOX4__x__6 1000ms 5000ms ease-in-out forwards, BOX4__x__7 1000ms 6000ms ease-in-out forwards, BOX4__x__8 1000ms 7000ms ease-in-out forwards, BOX4__x__9 1000ms 8000ms ease-in-out forwards, BOX4__x__10 1000ms 9000ms ease-in-out forwards, BOX4__y__1 1000ms 0ms ease-in-out forwards, BOX4__y__2 1000ms 1000ms ease-in-out forwards, BOX4__y__3 1000ms 2000ms ease-in-out forwards, BOX4__y__4 1000ms 3000ms ease-in-out forwards, BOX4__y__5 1000ms 4000ms ease-in-out forwards, BOX4__y__6 1000ms 5000ms ease-in-out forwards, BOX4__y__7 1000ms 6000ms ease-in-out forwards, BOX4__y__8 1000ms 7000ms ease-in-out forwards, BOX4__y__9 1000ms 8000ms ease-in-out forwards, BOX4__y__10 1000ms 9000ms ease-in-out forwards, BOX4__width__1 1000ms 0ms ease-in-out forwards, BOX4__width__2 1000ms 1000ms ease-in-out forwards, BOX4__width__3 1000ms 2000ms ease-in-out forwards, BOX4__width__4 1000ms 3000ms ease-in-out forwards, BOX4__width__5 1000ms 4000ms ease-in-out forwards, BOX4__width__6 1000ms 5000ms ease-in-out forwards, BOX4__width__7 1000ms 6000ms ease-in-out forwards, BOX4__width__8 1000ms 7000ms ease-in-out forwards, BOX4__width__9 1000ms 8000ms ease-in-out forwards, BOX4__width__10 1000ms 9000ms ease-in-out forwards, BOX4__height__1 1000ms 0ms ease-in-out forwards, BOX4__height__2 1000ms 1000ms ease-in-out forwards, BOX4__height__3 1000ms 2000ms ease-in-out forwards, BOX4__height__4 1000ms 3000ms ease-in-out forwards, BOX4__height__5 1000ms 4000ms ease-in-out forwards, BOX4__height__6 1000ms 5000ms ease-in-out forwards, BOX4__height__7 1000ms 6000ms ease-in-out forwards, BOX4__height__8 1000ms 7000ms ease-in-out forwards, BOX4__height__9 1000ms 8000ms ease-in-out forwards, BOX4__height__10 1000ms 9000ms ease-in-out forwards, BOX4__fillColor__1 1000ms 0ms ease-in-out forwards, BOX4__fillColor__2 1000ms 1000ms ease-in-out forwards, BOX4__fillColor__3 1000ms 2000ms ease-in-out forwards, BOX4__fillColor__4 1000ms 3000ms ease-in-out forwards, BOX4__fillColor__5 1000ms 4000ms ease-in-out forwards, BOX4__fillColor__6 1000ms 5000ms ease-in-out forwards, BOX4__fillColor__7 1000ms 6000ms ease-in-out forwards, BOX4__fillColor__8 1000ms 7000ms ease-in-out forwards, BOX4__fillColor__9 1000ms 8000ms ease-in-out forwards, BOX4__fillColor__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes BOX4__x__1 {
    from {
        left: 900px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX4__x__2 {
    from {
        left: 900px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX4__x__3 {
    from {
        left: 900px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX4__x__4 {
    from {
        left: 900px;
    }

    to {
        left: 660px;
    }
}
@keyframes BOX4__x__5 {
    from {
        left: 660px;
    }

    to {
        left: 660px;
    }
}
@keyframes BOX4__x__6 {
    from {
        left: 660px;
    }

    to {
        left: 650px;
    }
}
@keyframes BOX4__x__7 {
    from {
        left: 650px;
    }

    to {
        left: 650px;
    }
}
@keyframes BOX4__x__8 {
    from {
        left: 650px;
    }

    to {
        left: 650px;
    }
}
@keyframes BOX4__x__9 {
    from {
        left: 650px;
    }

    to {
        left: 650px;
    }
}
@keyframes BOX4__x__10 {
    from {
        left: 650px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX4__y__1 {
    from {
        top: 240px;
    }

    to {
        top: 240px;
    }
}
@keyframes BOX4__y__2 {
    from {
        top: 240px;
    }

    to {
        top: 130px;
    }
}
@keyframes BOX4__y__3 {
    from {
        top: 130px;
    }

    to {
        top: 130px;
    }
}
@keyframes BOX4__y__4 {
    from {
        top: 130px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX4__y__5 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX4__y__6 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX4__y__7 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX4__y__8 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX4__y__9 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX4__y__10 {
    from {
        top: 0px;
    }

    to {
        top: 240px;
    }
}
@keyframes BOX4__width__1 {
    from {
        width: 380px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX4__width__2 {
    from {
        width: 380px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX4__width__3 {
    from {
        width: 380px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX4__width__4 {
    from {
        width: 380px;
    }

    to {
        width: 620px;
    }
}
@keyframes BOX4__width__5 {
    from {
        width: 620px;
    }

    to {
        width: 620px;
    }
}
@keyframes BOX4__width__6 {
    from {
        width: 620px;
    }

    to {
        width: 630px;
    }
}
@keyframes BOX4__width__7 {
    from {
        width: 630px;
    }

    to {
        width: 630px;
    }
}
@keyframes BOX4__width__8 {
    from {
        width: 630px;
    }

    to {
        width: 630px;
    }
}
@keyframes BOX4__width__9 {
    from {
        width: 630px;
    }

    to {
        width: 630px;
    }
}
@keyframes BOX4__width__10 {
    from {
        width: 630px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX4__height__1 {
    from {
        height: 160px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX4__height__2 {
    from {
        height: 160px;
    }

    to {
        height: 190px;
    }
}
@keyframes BOX4__height__3 {
    from {
        height: 190px;
    }

    to {
        height: 190px;
    }
}
@keyframes BOX4__height__4 {
    from {
        height: 190px;
    }

    to {
        height: 420px;
    }
}
@keyframes BOX4__height__5 {
    from {
        height: 420px;
    }

    to {
        height: 420px;
    }
}
@keyframes BOX4__height__6 {
    from {
        height: 420px;
    }

    to {
        height: 330px;
    }
}
@keyframes BOX4__height__7 {
    from {
        height: 330px;
    }

    to {
        height: 330px;
    }
}
@keyframes BOX4__height__8 {
    from {
        height: 330px;
    }

    to {
        height: 340px;
    }
}
@keyframes BOX4__height__9 {
    from {
        height: 340px;
    }

    to {
        height: 340px;
    }
}
@keyframes BOX4__height__10 {
    from {
        height: 340px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX4__fillColor__1 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX4__fillColor__2 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX4__fillColor__3 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX4__fillColor__4 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,204,0,1);
    }
}
@keyframes BOX4__fillColor__5 {
    from {
        background-color: rgba(255,204,0,1);
    }

    to {
        background-color: rgba(255,204.00000303983688,0,1);
    }
}
@keyframes BOX4__fillColor__6 {
    from {
        background-color: rgba(255,204.00000303983688,0,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX4__fillColor__7 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX4__fillColor__8 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX4__fillColor__9 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX4__fillColor__10 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}

#BOX5 {
    transform: ;
    animation: BOX5__x__1 1000ms 0ms ease-in-out forwards, BOX5__x__2 1000ms 1000ms ease-in-out forwards, BOX5__x__3 1000ms 2000ms ease-in-out forwards, BOX5__x__4 1000ms 3000ms ease-in-out forwards, BOX5__x__5 1000ms 4000ms ease-in-out forwards, BOX5__x__6 1000ms 5000ms ease-in-out forwards, BOX5__x__7 1000ms 6000ms ease-in-out forwards, BOX5__x__8 1000ms 7000ms ease-in-out forwards, BOX5__x__9 1000ms 8000ms ease-in-out forwards, BOX5__x__10 1000ms 9000ms ease-in-out forwards, BOX5__y__1 1000ms 0ms ease-in-out forwards, BOX5__y__2 1000ms 1000ms ease-in-out forwards, BOX5__y__3 1000ms 2000ms ease-in-out forwards, BOX5__y__4 1000ms 3000ms ease-in-out forwards, BOX5__y__5 1000ms 4000ms ease-in-out forwards, BOX5__y__6 1000ms 5000ms ease-in-out forwards, BOX5__y__7 1000ms 6000ms ease-in-out forwards, BOX5__y__8 1000ms 7000ms ease-in-out forwards, BOX5__y__9 1000ms 8000ms ease-in-out forwards, BOX5__y__10 1000ms 9000ms ease-in-out forwards, BOX5__width__1 1000ms 0ms ease-in-out forwards, BOX5__width__2 1000ms 1000ms ease-in-out forwards, BOX5__width__3 1000ms 2000ms ease-in-out forwards, BOX5__width__4 1000ms 3000ms ease-in-out forwards, BOX5__width__5 1000ms 4000ms ease-in-out forwards, BOX5__width__6 1000ms 5000ms ease-in-out forwards, BOX5__width__7 1000ms 6000ms ease-in-out forwards, BOX5__width__8 1000ms 7000ms ease-in-out forwards, BOX5__width__9 1000ms 8000ms ease-in-out forwards, BOX5__width__10 1000ms 9000ms ease-in-out forwards, BOX5__height__1 1000ms 0ms ease-in-out forwards, BOX5__height__2 1000ms 1000ms ease-in-out forwards, BOX5__height__3 1000ms 2000ms ease-in-out forwards, BOX5__height__4 1000ms 3000ms ease-in-out forwards, BOX5__height__5 1000ms 4000ms ease-in-out forwards, BOX5__height__6 1000ms 5000ms ease-in-out forwards, BOX5__height__7 1000ms 6000ms ease-in-out forwards, BOX5__height__8 1000ms 7000ms ease-in-out forwards, BOX5__height__9 1000ms 8000ms ease-in-out forwards, BOX5__height__10 1000ms 9000ms ease-in-out forwards, BOX5__fillColor__1 1000ms 0ms ease-in-out forwards, BOX5__fillColor__2 1000ms 1000ms ease-in-out forwards, BOX5__fillColor__3 1000ms 2000ms ease-in-out forwards, BOX5__fillColor__4 1000ms 3000ms ease-in-out forwards, BOX5__fillColor__5 1000ms 4000ms ease-in-out forwards, BOX5__fillColor__6 1000ms 5000ms ease-in-out forwards, BOX5__fillColor__7 1000ms 6000ms ease-in-out forwards, BOX5__fillColor__8 1000ms 7000ms ease-in-out forwards, BOX5__fillColor__9 1000ms 8000ms ease-in-out forwards, BOX5__fillColor__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes BOX5__x__1 {
    from {
        left: 900px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX5__x__2 {
    from {
        left: 900px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX5__x__3 {
    from {
        left: 900px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX5__x__4 {
    from {
        left: 900px;
    }

    to {
        left: 890px;
    }
}
@keyframes BOX5__x__5 {
    from {
        left: 890px;
    }

    to {
        left: 890px;
    }
}
@keyframes BOX5__x__6 {
    from {
        left: 890px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX5__x__7 {
    from {
        left: 300px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX5__x__8 {
    from {
        left: 300px;
    }

    to {
        left: 650px;
    }
}
@keyframes BOX5__x__9 {
    from {
        left: 650px;
    }

    to {
        left: 650px;
    }
}
@keyframes BOX5__x__10 {
    from {
        left: 650px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX5__y__1 {
    from {
        top: 390px;
    }

    to {
        top: 390px;
    }
}
@keyframes BOX5__y__2 {
    from {
        top: 390px;
    }

    to {
        top: 310px;
    }
}
@keyframes BOX5__y__3 {
    from {
        top: 310px;
    }

    to {
        top: 310px;
    }
}
@keyframes BOX5__y__4 {
    from {
        top: 310px;
    }

    to {
        top: 410px;
    }
}
@keyframes BOX5__y__5 {
    from {
        top: 410px;
    }

    to {
        top: 410px;
    }
}
@keyframes BOX5__y__6 {
    from {
        top: 410px;
    }

    to {
        top: 320px;
    }
}
@keyframes BOX5__y__7 {
    from {
        top: 320px;
    }

    to {
        top: 320px;
    }
}
@keyframes BOX5__y__8 {
    from {
        top: 320px;
    }

    to {
        top: 330px;
    }
}
@keyframes BOX5__y__9 {
    from {
        top: 330px;
    }

    to {
        top: 330px;
    }
}
@keyframes BOX5__y__10 {
    from {
        top: 330px;
    }

    to {
        top: 390px;
    }
}
@keyframes BOX5__width__1 {
    from {
        width: 380px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX5__width__2 {
    from {
        width: 380px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX5__width__3 {
    from {
        width: 380px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX5__width__4 {
    from {
        width: 380px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX5__width__5 {
    from {
        width: 390px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX5__width__6 {
    from {
        width: 390px;
    }

    to {
        width: 980px;
    }
}
@keyframes BOX5__width__7 {
    from {
        width: 980px;
    }

    to {
        width: 980px;
    }
}
@keyframes BOX5__width__8 {
    from {
        width: 980px;
    }

    to {
        width: 630px;
    }
}
@keyframes BOX5__width__9 {
    from {
        width: 630px;
    }

    to {
        width: 630px;
    }
}
@keyframes BOX5__width__10 {
    from {
        width: 630px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX5__height__1 {
    from {
        height: 160px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX5__height__2 {
    from {
        height: 160px;
    }

    to {
        height: 210px;
    }
}
@keyframes BOX5__height__3 {
    from {
        height: 210px;
    }

    to {
        height: 210px;
    }
}
@keyframes BOX5__height__4 {
    from {
        height: 210px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX5__height__5 {
    from {
        height: 160px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX5__height__6 {
    from {
        height: 160px;
    }

    to {
        height: 240px;
    }
}
@keyframes BOX5__height__7 {
    from {
        height: 240px;
    }

    to {
        height: 240px;
    }
}
@keyframes BOX5__height__8 {
    from {
        height: 240px;
    }

    to {
        height: 150px;
    }
}
@keyframes BOX5__height__9 {
    from {
        height: 150px;
    }

    to {
        height: 150px;
    }
}
@keyframes BOX5__height__10 {
    from {
        height: 150px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX5__fillColor__1 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX5__fillColor__2 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX5__fillColor__3 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX5__fillColor__4 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX5__fillColor__5 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX5__fillColor__6 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,204,0,1);
    }
}
@keyframes BOX5__fillColor__7 {
    from {
        background-color: rgba(255,204,0,1);
    }

    to {
        background-color: rgba(255,204.00000303983688,0,1);
    }
}
@keyframes BOX5__fillColor__8 {
    from {
        background-color: rgba(255,204.00000303983688,0,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX5__fillColor__9 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX5__fillColor__10 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}

#BOX3 {
    transform: ;
    animation: BOX3__x__1 1000ms 0ms ease-in-out forwards, BOX3__x__2 1000ms 1000ms ease-in-out forwards, BOX3__x__3 1000ms 2000ms ease-in-out forwards, BOX3__x__4 1000ms 3000ms ease-in-out forwards, BOX3__x__5 1000ms 4000ms ease-in-out forwards, BOX3__x__6 1000ms 5000ms ease-in-out forwards, BOX3__x__7 1000ms 6000ms ease-in-out forwards, BOX3__x__8 1000ms 7000ms ease-in-out forwards, BOX3__x__9 1000ms 8000ms ease-in-out forwards, BOX3__x__10 1000ms 9000ms ease-in-out forwards, BOX3__y__1 1000ms 0ms ease-in-out forwards, BOX3__y__2 1000ms 1000ms ease-in-out forwards, BOX3__y__3 1000ms 2000ms ease-in-out forwards, BOX3__y__4 1000ms 3000ms ease-in-out forwards, BOX3__y__5 1000ms 4000ms ease-in-out forwards, BOX3__y__6 1000ms 5000ms ease-in-out forwards, BOX3__y__7 1000ms 6000ms ease-in-out forwards, BOX3__y__8 1000ms 7000ms ease-in-out forwards, BOX3__y__9 1000ms 8000ms ease-in-out forwards, BOX3__y__10 1000ms 9000ms ease-in-out forwards, BOX3__width__1 1000ms 0ms ease-in-out forwards, BOX3__width__2 1000ms 1000ms ease-in-out forwards, BOX3__width__3 1000ms 2000ms ease-in-out forwards, BOX3__width__4 1000ms 3000ms ease-in-out forwards, BOX3__width__5 1000ms 4000ms ease-in-out forwards, BOX3__width__6 1000ms 5000ms ease-in-out forwards, BOX3__width__7 1000ms 6000ms ease-in-out forwards, BOX3__width__8 1000ms 7000ms ease-in-out forwards, BOX3__width__9 1000ms 8000ms ease-in-out forwards, BOX3__width__10 1000ms 9000ms ease-in-out forwards, BOX3__height__1 1000ms 0ms ease-in-out forwards, BOX3__height__2 1000ms 1000ms ease-in-out forwards, BOX3__height__3 1000ms 2000ms ease-in-out forwards, BOX3__height__4 1000ms 3000ms ease-in-out forwards, BOX3__height__5 1000ms 4000ms ease-in-out forwards, BOX3__height__6 1000ms 5000ms ease-in-out forwards, BOX3__height__7 1000ms 6000ms ease-in-out forwards, BOX3__height__8 1000ms 7000ms ease-in-out forwards, BOX3__height__9 1000ms 8000ms ease-in-out forwards, BOX3__height__10 1000ms 9000ms ease-in-out forwards, BOX3__fillColor__1 1000ms 0ms ease-in-out forwards, BOX3__fillColor__2 1000ms 1000ms ease-in-out forwards, BOX3__fillColor__3 1000ms 2000ms ease-in-out forwards, BOX3__fillColor__4 1000ms 3000ms ease-in-out forwards, BOX3__fillColor__5 1000ms 4000ms ease-in-out forwards, BOX3__fillColor__6 1000ms 5000ms ease-in-out forwards, BOX3__fillColor__7 1000ms 6000ms ease-in-out forwards, BOX3__fillColor__8 1000ms 7000ms ease-in-out forwards, BOX3__fillColor__9 1000ms 8000ms ease-in-out forwards, BOX3__fillColor__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes BOX3__x__1 {
    from {
        left: 520px;
    }

    to {
        left: 520px;
    }
}
@keyframes BOX3__x__2 {
    from {
        left: 520px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX3__x__3 {
    from {
        left: 900px;
    }

    to {
        left: 900px;
    }
}
@keyframes BOX3__x__4 {
    from {
        left: 900px;
    }

    to {
        left: 890px;
    }
}
@keyframes BOX3__x__5 {
    from {
        left: 890px;
    }

    to {
        left: 890px;
    }
}
@keyframes BOX3__x__6 {
    from {
        left: 890px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX3__x__7 {
    from {
        left: 300px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX3__x__8 {
    from {
        left: 300px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX3__x__9 {
    from {
        left: 300px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX3__x__10 {
    from {
        left: 300px;
    }

    to {
        left: 520px;
    }
}
@keyframes BOX3__y__1 {
    from {
        top: 540px;
    }

    to {
        top: 540px;
    }
}
@keyframes BOX3__y__2 {
    from {
        top: 540px;
    }

    to {
        top: 510px;
    }
}
@keyframes BOX3__y__3 {
    from {
        top: 510px;
    }

    to {
        top: 510px;
    }
}
@keyframes BOX3__y__4 {
    from {
        top: 510px;
    }

    to {
        top: 560px;
    }
}
@keyframes BOX3__y__5 {
    from {
        top: 560px;
    }

    to {
        top: 560px;
    }
}
@keyframes BOX3__y__6 {
    from {
        top: 560px;
    }

    to {
        top: 550px;
    }
}
@keyframes BOX3__y__7 {
    from {
        top: 550px;
    }

    to {
        top: 550px;
    }
}
@keyframes BOX3__y__8 {
    from {
        top: 550px;
    }

    to {
        top: 470px;
    }
}
@keyframes BOX3__y__9 {
    from {
        top: 470px;
    }

    to {
        top: 470px;
    }
}
@keyframes BOX3__y__10 {
    from {
        top: 470px;
    }

    to {
        top: 540px;
    }
}
@keyframes BOX3__width__1 {
    from {
        width: 390px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX3__width__2 {
    from {
        width: 390px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX3__width__3 {
    from {
        width: 380px;
    }

    to {
        width: 380px;
    }
}
@keyframes BOX3__width__4 {
    from {
        width: 380px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX3__width__5 {
    from {
        width: 390px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX3__width__6 {
    from {
        width: 390px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX3__width__7 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX3__width__8 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX3__width__9 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX3__width__10 {
    from {
        width: 360px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX3__height__1 {
    from {
        height: 180px;
    }

    to {
        height: 180px;
    }
}
@keyframes BOX3__height__2 {
    from {
        height: 180px;
    }

    to {
        height: 210px;
    }
}
@keyframes BOX3__height__3 {
    from {
        height: 210px;
    }

    to {
        height: 210px;
    }
}
@keyframes BOX3__height__4 {
    from {
        height: 210px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX3__height__5 {
    from {
        height: 160px;
    }

    to {
        height: 160px;
    }
}
@keyframes BOX3__height__6 {
    from {
        height: 160px;
    }

    to {
        height: 170px;
    }
}
@keyframes BOX3__height__7 {
    from {
        height: 170px;
    }

    to {
        height: 170px;
    }
}
@keyframes BOX3__height__8 {
    from {
        height: 170px;
    }

    to {
        height: 250px;
    }
}
@keyframes BOX3__height__9 {
    from {
        height: 250px;
    }

    to {
        height: 250px;
    }
}
@keyframes BOX3__height__10 {
    from {
        height: 250px;
    }

    to {
        height: 180px;
    }
}
@keyframes BOX3__fillColor__1 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX3__fillColor__2 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX3__fillColor__3 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX3__fillColor__4 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX3__fillColor__5 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX3__fillColor__6 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX3__fillColor__7 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX3__fillColor__8 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,204,0,1);
    }
}
@keyframes BOX3__fillColor__9 {
    from {
        background-color: rgba(255,204,0,1);
    }

    to {
        background-color: rgba(255,204.00000303983688,0,1);
    }
}
@keyframes BOX3__fillColor__10 {
    from {
        background-color: rgba(255,204.00000303983688,0,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}

#TEXT1 {
    transform: ;
    animation: TEXT1__x__1 1000ms 0ms ease-in-out forwards, TEXT1__x__2 1000ms 1000ms ease-in-out forwards, TEXT1__x__3 1000ms 2000ms ease-in-out forwards, TEXT1__x__4 1000ms 3000ms ease-in-out forwards, TEXT1__x__5 1000ms 4000ms ease-in-out forwards, TEXT1__x__6 1000ms 5000ms ease-in-out forwards, TEXT1__x__7 1000ms 6000ms ease-in-out forwards, TEXT1__x__8 1000ms 7000ms ease-in-out forwards, TEXT1__x__9 1000ms 8000ms ease-in-out forwards, TEXT1__x__10 1000ms 9000ms ease-in-out forwards, TEXT1__y__1 1000ms 0ms ease-in-out forwards, TEXT1__y__2 1000ms 1000ms ease-in-out forwards, TEXT1__y__3 1000ms 2000ms ease-in-out forwards, TEXT1__y__4 1000ms 3000ms ease-in-out forwards, TEXT1__y__5 1000ms 4000ms ease-in-out forwards, TEXT1__y__6 1000ms 5000ms ease-in-out forwards, TEXT1__y__7 1000ms 6000ms ease-in-out forwards, TEXT1__y__8 1000ms 7000ms ease-in-out forwards, TEXT1__y__9 1000ms 8000ms ease-in-out forwards, TEXT1__y__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes TEXT1__x__1 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__2 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__3 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__4 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__5 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__6 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__7 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__8 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__9 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__x__10 {
    from {
        left: 28px;
    }

    to {
        left: 28px;
    }
}
@keyframes TEXT1__y__1 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT1__y__2 {
    from {
        top: 28px;
    }

    to {
        top: 438px;
    }
}
@keyframes TEXT1__y__3 {
    from {
        top: 438px;
    }

    to {
        top: 438px;
    }
}
@keyframes TEXT1__y__4 {
    from {
        top: 438px;
    }

    to {
        top: 338px;
    }
}
@keyframes TEXT1__y__5 {
    from {
        top: 338px;
    }

    to {
        top: 338px;
    }
}
@keyframes TEXT1__y__6 {
    from {
        top: 338px;
    }

    to {
        top: 348px;
    }
}
@keyframes TEXT1__y__7 {
    from {
        top: 348px;
    }

    to {
        top: 348px;
    }
}
@keyframes TEXT1__y__8 {
    from {
        top: 348px;
    }

    to {
        top: 358px;
    }
}
@keyframes TEXT1__y__9 {
    from {
        top: 358px;
    }

    to {
        top: 358px;
    }
}
@keyframes TEXT1__y__10 {
    from {
        top: 358px;
    }

    to {
        top: 28px;
    }
}

#TEXT4 {
    transform: ;
    animation: TEXT4__x__1 1000ms 0ms ease-in-out forwards, TEXT4__x__2 1000ms 1000ms ease-in-out forwards, TEXT4__x__3 1000ms 2000ms ease-in-out forwards, TEXT4__x__4 1000ms 3000ms ease-in-out forwards, TEXT4__x__5 1000ms 4000ms ease-in-out forwards, TEXT4__x__6 1000ms 5000ms ease-in-out forwards, TEXT4__x__7 1000ms 6000ms ease-in-out forwards, TEXT4__x__8 1000ms 7000ms ease-in-out forwards, TEXT4__x__9 1000ms 8000ms ease-in-out forwards, TEXT4__x__10 1000ms 9000ms ease-in-out forwards, TEXT4__y__1 1000ms 0ms ease-in-out forwards, TEXT4__y__2 1000ms 1000ms ease-in-out forwards, TEXT4__y__3 1000ms 2000ms ease-in-out forwards, TEXT4__y__4 1000ms 3000ms ease-in-out forwards, TEXT4__y__5 1000ms 4000ms ease-in-out forwards, TEXT4__y__6 1000ms 5000ms ease-in-out forwards, TEXT4__y__7 1000ms 6000ms ease-in-out forwards, TEXT4__y__8 1000ms 7000ms ease-in-out forwards, TEXT4__y__9 1000ms 8000ms ease-in-out forwards, TEXT4__y__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes TEXT4__x__1 {
    from {
        left: 928px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT4__x__2 {
    from {
        left: 928px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT4__x__3 {
    from {
        left: 928px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT4__x__4 {
    from {
        left: 928px;
    }

    to {
        left: 688px;
    }
}
@keyframes TEXT4__x__5 {
    from {
        left: 688px;
    }

    to {
        left: 688px;
    }
}
@keyframes TEXT4__x__6 {
    from {
        left: 688px;
    }

    to {
        left: 678px;
    }
}
@keyframes TEXT4__x__7 {
    from {
        left: 678px;
    }

    to {
        left: 678px;
    }
}
@keyframes TEXT4__x__8 {
    from {
        left: 678px;
    }

    to {
        left: 678px;
    }
}
@keyframes TEXT4__x__9 {
    from {
        left: 678px;
    }

    to {
        left: 678px;
    }
}
@keyframes TEXT4__x__10 {
    from {
        left: 678px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT4__y__1 {
    from {
        top: 268px;
    }

    to {
        top: 268px;
    }
}
@keyframes TEXT4__y__2 {
    from {
        top: 268px;
    }

    to {
        top: 158px;
    }
}
@keyframes TEXT4__y__3 {
    from {
        top: 158px;
    }

    to {
        top: 158px;
    }
}
@keyframes TEXT4__y__4 {
    from {
        top: 158px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT4__y__5 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT4__y__6 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT4__y__7 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT4__y__8 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT4__y__9 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT4__y__10 {
    from {
        top: 28px;
    }

    to {
        top: 268px;
    }
}

#TEXT5 {
    transform: ;
    animation: TEXT5__x__1 1000ms 0ms ease-in-out forwards, TEXT5__x__2 1000ms 1000ms ease-in-out forwards, TEXT5__x__3 1000ms 2000ms ease-in-out forwards, TEXT5__x__4 1000ms 3000ms ease-in-out forwards, TEXT5__x__5 1000ms 4000ms ease-in-out forwards, TEXT5__x__6 1000ms 5000ms ease-in-out forwards, TEXT5__x__7 1000ms 6000ms ease-in-out forwards, TEXT5__x__8 1000ms 7000ms ease-in-out forwards, TEXT5__x__9 1000ms 8000ms ease-in-out forwards, TEXT5__x__10 1000ms 9000ms ease-in-out forwards, TEXT5__y__1 1000ms 0ms ease-in-out forwards, TEXT5__y__2 1000ms 1000ms ease-in-out forwards, TEXT5__y__3 1000ms 2000ms ease-in-out forwards, TEXT5__y__4 1000ms 3000ms ease-in-out forwards, TEXT5__y__5 1000ms 4000ms ease-in-out forwards, TEXT5__y__6 1000ms 5000ms ease-in-out forwards, TEXT5__y__7 1000ms 6000ms ease-in-out forwards, TEXT5__y__8 1000ms 7000ms ease-in-out forwards, TEXT5__y__9 1000ms 8000ms ease-in-out forwards, TEXT5__y__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes TEXT5__x__1 {
    from {
        left: 928px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT5__x__2 {
    from {
        left: 928px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT5__x__3 {
    from {
        left: 928px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT5__x__4 {
    from {
        left: 928px;
    }

    to {
        left: 918px;
    }
}
@keyframes TEXT5__x__5 {
    from {
        left: 918px;
    }

    to {
        left: 918px;
    }
}
@keyframes TEXT5__x__6 {
    from {
        left: 918px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT5__x__7 {
    from {
        left: 328px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT5__x__8 {
    from {
        left: 328px;
    }

    to {
        left: 678px;
    }
}
@keyframes TEXT5__x__9 {
    from {
        left: 678px;
    }

    to {
        left: 678px;
    }
}
@keyframes TEXT5__x__10 {
    from {
        left: 678px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT5__y__1 {
    from {
        top: 418px;
    }

    to {
        top: 418px;
    }
}
@keyframes TEXT5__y__2 {
    from {
        top: 418px;
    }

    to {
        top: 338px;
    }
}
@keyframes TEXT5__y__3 {
    from {
        top: 338px;
    }

    to {
        top: 338px;
    }
}
@keyframes TEXT5__y__4 {
    from {
        top: 338px;
    }

    to {
        top: 438px;
    }
}
@keyframes TEXT5__y__5 {
    from {
        top: 438px;
    }

    to {
        top: 438px;
    }
}
@keyframes TEXT5__y__6 {
    from {
        top: 438px;
    }

    to {
        top: 348px;
    }
}
@keyframes TEXT5__y__7 {
    from {
        top: 348px;
    }

    to {
        top: 348px;
    }
}
@keyframes TEXT5__y__8 {
    from {
        top: 348px;
    }

    to {
        top: 358px;
    }
}
@keyframes TEXT5__y__9 {
    from {
        top: 358px;
    }

    to {
        top: 358px;
    }
}
@keyframes TEXT5__y__10 {
    from {
        top: 358px;
    }

    to {
        top: 418px;
    }
}

#TEXT3 {
    transform: ;
    animation: TEXT3__x__1 1000ms 0ms ease-in-out forwards, TEXT3__x__2 1000ms 1000ms ease-in-out forwards, TEXT3__x__3 1000ms 2000ms ease-in-out forwards, TEXT3__x__4 1000ms 3000ms ease-in-out forwards, TEXT3__x__5 1000ms 4000ms ease-in-out forwards, TEXT3__x__6 1000ms 5000ms ease-in-out forwards, TEXT3__x__7 1000ms 6000ms ease-in-out forwards, TEXT3__x__8 1000ms 7000ms ease-in-out forwards, TEXT3__x__9 1000ms 8000ms ease-in-out forwards, TEXT3__x__10 1000ms 9000ms ease-in-out forwards, TEXT3__y__1 1000ms 0ms ease-in-out forwards, TEXT3__y__2 1000ms 1000ms ease-in-out forwards, TEXT3__y__3 1000ms 2000ms ease-in-out forwards, TEXT3__y__4 1000ms 3000ms ease-in-out forwards, TEXT3__y__5 1000ms 4000ms ease-in-out forwards, TEXT3__y__6 1000ms 5000ms ease-in-out forwards, TEXT3__y__7 1000ms 6000ms ease-in-out forwards, TEXT3__y__8 1000ms 7000ms ease-in-out forwards, TEXT3__y__9 1000ms 8000ms ease-in-out forwards, TEXT3__y__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes TEXT3__x__1 {
    from {
        left: 548px;
    }

    to {
        left: 548px;
    }
}
@keyframes TEXT3__x__2 {
    from {
        left: 548px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT3__x__3 {
    from {
        left: 928px;
    }

    to {
        left: 928px;
    }
}
@keyframes TEXT3__x__4 {
    from {
        left: 928px;
    }

    to {
        left: 918px;
    }
}
@keyframes TEXT3__x__5 {
    from {
        left: 918px;
    }

    to {
        left: 918px;
    }
}
@keyframes TEXT3__x__6 {
    from {
        left: 918px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT3__x__7 {
    from {
        left: 328px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT3__x__8 {
    from {
        left: 328px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT3__x__9 {
    from {
        left: 328px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT3__x__10 {
    from {
        left: 328px;
    }

    to {
        left: 548px;
    }
}
@keyframes TEXT3__y__1 {
    from {
        top: 568px;
    }

    to {
        top: 568px;
    }
}
@keyframes TEXT3__y__2 {
    from {
        top: 568px;
    }

    to {
        top: 538px;
    }
}
@keyframes TEXT3__y__3 {
    from {
        top: 538px;
    }

    to {
        top: 538px;
    }
}
@keyframes TEXT3__y__4 {
    from {
        top: 538px;
    }

    to {
        top: 588px;
    }
}
@keyframes TEXT3__y__5 {
    from {
        top: 588px;
    }

    to {
        top: 588px;
    }
}
@keyframes TEXT3__y__6 {
    from {
        top: 588px;
    }

    to {
        top: 578px;
    }
}
@keyframes TEXT3__y__7 {
    from {
        top: 578px;
    }

    to {
        top: 578px;
    }
}
@keyframes TEXT3__y__8 {
    from {
        top: 578px;
    }

    to {
        top: 498px;
    }
}
@keyframes TEXT3__y__9 {
    from {
        top: 498px;
    }

    to {
        top: 498px;
    }
}
@keyframes TEXT3__y__10 {
    from {
        top: 498px;
    }

    to {
        top: 568px;
    }
}

#BOX2 {
    transform: ;
    animation: BOX2__x__1 1000ms 0ms ease-in-out forwards, BOX2__x__2 1000ms 1000ms ease-in-out forwards, BOX2__x__3 1000ms 2000ms ease-in-out forwards, BOX2__x__4 1000ms 3000ms ease-in-out forwards, BOX2__x__5 1000ms 4000ms ease-in-out forwards, BOX2__x__6 1000ms 5000ms ease-in-out forwards, BOX2__x__7 1000ms 6000ms ease-in-out forwards, BOX2__x__8 1000ms 7000ms ease-in-out forwards, BOX2__x__9 1000ms 8000ms ease-in-out forwards, BOX2__x__10 1000ms 9000ms ease-in-out forwards, BOX2__y__1 1000ms 0ms ease-in-out forwards, BOX2__y__2 1000ms 1000ms ease-in-out forwards, BOX2__y__3 1000ms 2000ms ease-in-out forwards, BOX2__y__4 1000ms 3000ms ease-in-out forwards, BOX2__y__5 1000ms 4000ms ease-in-out forwards, BOX2__y__6 1000ms 5000ms ease-in-out forwards, BOX2__y__7 1000ms 6000ms ease-in-out forwards, BOX2__y__8 1000ms 7000ms ease-in-out forwards, BOX2__y__9 1000ms 8000ms ease-in-out forwards, BOX2__y__10 1000ms 9000ms ease-in-out forwards, BOX2__width__1 1000ms 0ms ease-in-out forwards, BOX2__width__2 1000ms 1000ms ease-in-out forwards, BOX2__width__3 1000ms 2000ms ease-in-out forwards, BOX2__width__4 1000ms 3000ms ease-in-out forwards, BOX2__width__5 1000ms 4000ms ease-in-out forwards, BOX2__width__6 1000ms 5000ms ease-in-out forwards, BOX2__width__7 1000ms 6000ms ease-in-out forwards, BOX2__width__8 1000ms 7000ms ease-in-out forwards, BOX2__width__9 1000ms 8000ms ease-in-out forwards, BOX2__width__10 1000ms 9000ms ease-in-out forwards, BOX2__height__1 1000ms 0ms ease-in-out forwards, BOX2__height__2 1000ms 1000ms ease-in-out forwards, BOX2__height__3 1000ms 2000ms ease-in-out forwards, BOX2__height__4 1000ms 3000ms ease-in-out forwards, BOX2__height__5 1000ms 4000ms ease-in-out forwards, BOX2__height__6 1000ms 5000ms ease-in-out forwards, BOX2__height__7 1000ms 6000ms ease-in-out forwards, BOX2__height__8 1000ms 7000ms ease-in-out forwards, BOX2__height__9 1000ms 8000ms ease-in-out forwards, BOX2__height__10 1000ms 9000ms ease-in-out forwards, BOX2__fillColor__1 1000ms 0ms ease-in-out forwards, BOX2__fillColor__2 1000ms 1000ms ease-in-out forwards, BOX2__fillColor__3 1000ms 2000ms ease-in-out forwards, BOX2__fillColor__4 1000ms 3000ms ease-in-out forwards, BOX2__fillColor__5 1000ms 4000ms ease-in-out forwards, BOX2__fillColor__6 1000ms 5000ms ease-in-out forwards, BOX2__fillColor__7 1000ms 6000ms ease-in-out forwards, BOX2__fillColor__8 1000ms 7000ms ease-in-out forwards, BOX2__fillColor__9 1000ms 8000ms ease-in-out forwards, BOX2__fillColor__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes BOX2__x__1 {
    from {
        left: 520px;
    }

    to {
        left: 520px;
    }
}
@keyframes BOX2__x__2 {
    from {
        left: 520px;
    }

    to {
        left: 290px;
    }
}
@keyframes BOX2__x__3 {
    from {
        left: 290px;
    }

    to {
        left: 290px;
    }
}
@keyframes BOX2__x__4 {
    from {
        left: 290px;
    }

    to {
        left: 310px;
    }
}
@keyframes BOX2__x__5 {
    from {
        left: 310px;
    }

    to {
        left: 310px;
    }
}
@keyframes BOX2__x__6 {
    from {
        left: 310px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX2__x__7 {
    from {
        left: 300px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX2__x__8 {
    from {
        left: 300px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX2__x__9 {
    from {
        left: 300px;
    }

    to {
        left: 300px;
    }
}
@keyframes BOX2__x__10 {
    from {
        left: 300px;
    }

    to {
        left: 520px;
    }
}
@keyframes BOX2__y__1 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__2 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__3 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__4 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__5 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__6 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__7 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__8 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__9 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__y__10 {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}
@keyframes BOX2__width__1 {
    from {
        width: 390px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX2__width__2 {
    from {
        width: 390px;
    }

    to {
        width: 620px;
    }
}
@keyframes BOX2__width__3 {
    from {
        width: 620px;
    }

    to {
        width: 620px;
    }
}
@keyframes BOX2__width__4 {
    from {
        width: 620px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX2__width__5 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX2__width__6 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX2__width__7 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX2__width__8 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX2__width__9 {
    from {
        width: 360px;
    }

    to {
        width: 360px;
    }
}
@keyframes BOX2__width__10 {
    from {
        width: 360px;
    }

    to {
        width: 390px;
    }
}
@keyframes BOX2__height__1 {
    from {
        height: 250px;
    }

    to {
        height: 250px;
    }
}
@keyframes BOX2__height__2 {
    from {
        height: 250px;
    }

    to {
        height: 720px;
    }
}
@keyframes BOX2__height__3 {
    from {
        height: 720px;
    }

    to {
        height: 720px;
    }
}
@keyframes BOX2__height__4 {
    from {
        height: 720px;
    }

    to {
        height: 320px;
    }
}
@keyframes BOX2__height__5 {
    from {
        height: 320px;
    }

    to {
        height: 320px;
    }
}
@keyframes BOX2__height__6 {
    from {
        height: 320px;
    }

    to {
        height: 330px;
    }
}
@keyframes BOX2__height__7 {
    from {
        height: 330px;
    }

    to {
        height: 330px;
    }
}
@keyframes BOX2__height__8 {
    from {
        height: 330px;
    }

    to {
        height: 340px;
    }
}
@keyframes BOX2__height__9 {
    from {
        height: 340px;
    }

    to {
        height: 340px;
    }
}
@keyframes BOX2__height__10 {
    from {
        height: 340px;
    }

    to {
        height: 250px;
    }
}
@keyframes BOX2__fillColor__1 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX2__fillColor__2 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,204,0,1);
    }
}
@keyframes BOX2__fillColor__3 {
    from {
        background-color: rgba(255,204,0,1);
    }

    to {
        background-color: rgba(255,204,0,1);
    }
}
@keyframes BOX2__fillColor__4 {
    from {
        background-color: rgba(255,204,0,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX2__fillColor__5 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX2__fillColor__6 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX2__fillColor__7 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX2__fillColor__8 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX2__fillColor__9 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}
@keyframes BOX2__fillColor__10 {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,1);
    }
}

#TEXT2 {
    transform: ;
    animation: TEXT2__x__1 1000ms 0ms ease-in-out forwards, TEXT2__x__2 1000ms 1000ms ease-in-out forwards, TEXT2__x__3 1000ms 2000ms ease-in-out forwards, TEXT2__x__4 1000ms 3000ms ease-in-out forwards, TEXT2__x__5 1000ms 4000ms ease-in-out forwards, TEXT2__x__6 1000ms 5000ms ease-in-out forwards, TEXT2__x__7 1000ms 6000ms ease-in-out forwards, TEXT2__x__8 1000ms 7000ms ease-in-out forwards, TEXT2__x__9 1000ms 8000ms ease-in-out forwards, TEXT2__x__10 1000ms 9000ms ease-in-out forwards, TEXT2__y__1 1000ms 0ms ease-in-out forwards, TEXT2__y__2 1000ms 1000ms ease-in-out forwards, TEXT2__y__3 1000ms 2000ms ease-in-out forwards, TEXT2__y__4 1000ms 3000ms ease-in-out forwards, TEXT2__y__5 1000ms 4000ms ease-in-out forwards, TEXT2__y__6 1000ms 5000ms ease-in-out forwards, TEXT2__y__7 1000ms 6000ms ease-in-out forwards, TEXT2__y__8 1000ms 7000ms ease-in-out forwards, TEXT2__y__9 1000ms 8000ms ease-in-out forwards, TEXT2__y__10 1000ms 9000ms ease-in-out forwards;
}

@keyframes TEXT2__x__1 {
    from {
        left: 548px;
    }

    to {
        left: 548px;
    }
}
@keyframes TEXT2__x__2 {
    from {
        left: 548px;
    }

    to {
        left: 318px;
    }
}
@keyframes TEXT2__x__3 {
    from {
        left: 318px;
    }

    to {
        left: 318px;
    }
}
@keyframes TEXT2__x__4 {
    from {
        left: 318px;
    }

    to {
        left: 338px;
    }
}
@keyframes TEXT2__x__5 {
    from {
        left: 338px;
    }

    to {
        left: 338px;
    }
}
@keyframes TEXT2__x__6 {
    from {
        left: 338px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT2__x__7 {
    from {
        left: 328px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT2__x__8 {
    from {
        left: 328px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT2__x__9 {
    from {
        left: 328px;
    }

    to {
        left: 328px;
    }
}
@keyframes TEXT2__x__10 {
    from {
        left: 328px;
    }

    to {
        left: 548px;
    }
}
@keyframes TEXT2__y__1 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__2 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__3 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__4 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__5 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__6 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__7 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__8 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__9 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
@keyframes TEXT2__y__10 {
    from {
        top: 28px;
    }

    to {
        top: 28px;
    }
}
