.global-news-grid {
  z-index: -1;
  display: flex;
  width: auto;
}

.global-news-grid-column {
  background-clip: padding-box;
}

.global-news-grid-column > div {
  margin-bottom: 20px;
}

.global-news-grid > div:nth-child(2) {
  margin-left: 20px;
}

.global-news-grid > div:nth-child(3) {
  margin-left: 20px;
}

.global-news-grid-column > div > .global-news-right > div {
  min-height: 300px;
}
.global-news-grid-column > div > .global-news-left > div {
  min-height: 300px;
}
.global-news-grid-column > div > .global-news-half > div {
  min-height: 350px;
}
.global-news-grid-column > .global-news-full > a > div {
  min-height: 350px;
}
.global-news-grid-column > div > .global-news-mirror > div {
  min-height: 330px;
}
.global-news-grid-column > div > .global-news-quote > div {
  min-height: 320px;
}
